*{
  margin: 0;
  padding: 0;  
}
.wrapper{
    position: relative;
    background-color: rgb(10, 124, 71);
    width: auto;
    height: 100vh;
}
.title{
    display: block;
    padding-top: 25px;
    margin-bottom: 25px;
}
.txt {
    color: #fff;
    text-align: center;
}
p.txt{
    font-size: 1.3em;
}
.img-block{
   margin: 25px auto;
}


.img-block img{
    display: block;
    margin: 0 auto;
    
}
.img-block p{
    display: block;
    margin-top: 10px;
    
}